%p
  %b Sentence:
  = @test_answer.original_task_sentence
%p
  %b Your Answer:
  = @test_answer.answer

- if@test_answer.correct?
  %h3 Correct!


= link_to 'Edit', edit_test_answer_path(@test_answer)
\|
= link_to 'Back', test_answers_path
