.text-preview-thumb{
  height: 20em;
}

#dict {
  font-size: 1.5em;
  position: fixed;
  // display: block;
  // height: 5em;
  width: 965px;
  z-index: 9999;
  background-color: beige;
  // margin-right: 100px;
}
#text-part{
  
  display: block;
  margin-top: 90px;
}
#text, #text-title {
  font-size: 1.2em;
  letter-spacing: -0.1em;
  padding-bottom: 1em;
  line-height: 1.5;
}


#character, #pronunciation, #meaning{
  padding-bottom: 5px;
  line-height: 1.2;
}

