.dict_entry{
  background-color: beige;
  border-radius: 50px;
  margin-bottom: 1em;
  padding: 1em 0 1em 2em;
}
.pronunciation, .character, .meaning, .word-label{
  display: inline;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.center-text{
  text-align: center;
}

